mixin users(user)        
        h3 user id: #{li=user.id}
        small introduction:  #{user.introduction} 
        small password: #{user.password}        
        small confirmPassword: #{user.confirmPassword}
        small nickName: #{user.nickName}



